/* Global Tags */
:root {
    --primary-color: #f4ead9;
    --secondary-color: #2a4b7e;
}

body{
    scrollbar-width: none;
    font-family: 'Gotham';
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.thumbnail {
    height: 100%;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
}

.jumbotron {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.jumbotron{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Ingredeints List */
#ingredients_container {
    position: relative;
    width: 100%;
}

.ing-el {
    box-shadow: 1px 1px;
}

.arrow {
    top: 0;
    width: 5%;
    z-index: 1;
    height: 100%;
    display: flex;
    position: absolute;
}

.arrow-left {
    right: 0;
    justify-content: end;
}

.arrow-right {
    left: 0;
    justify-content: start;
}

.arrow img {
    width: 100%;
    height: 100%;
}

#ingredients {
    flex-direction: row;
    overflow-x: hidden;
}

#ingredients img {
    width: 200px;
    height: 200px;
}

/* Phone Style */
@media screen and (max-width: 26cm) {
    #ingredients {
        flex-direction: row;
        flex-wrap: wrap !important;
        /* align-items: center; */
    }

    .arrow { display: none; }
}